h1{
    color: azure
}
span{
    text-transform: lowercase;
}
li{
    text-decoration: dotted;
}
h2{
    color: rgb(164, 109, 42);
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}